@page
@model IndexModel
@{
    ViewData["Title"] = "Library Introduction";
}

<link rel="stylesheet" href="~/css/StyleHomePage.css"/>
<link rel="stylesheet" href="~/css/Animations.css"/>
<div class="text-center">
    <h1 class="display-4">Welcome to Our Library</h1>
    <p>This is an introduction to our library. You can explore and manage our book collection.</p>
</div>
<div class="text-center">
    <h6 class="display-4">Manage your Books</h6>
    <p>Add, Delete and edit your books in your library</p>
    <p>Press 'Library' to get to your library</p>
</div>
<div class="text-center">
    <h6 class="display-4">Powered By</h6>
    <p>Liban, Raashid, Rodi</p>
</div>
