@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy our library";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/StyleHomePage.css" />

<h1>This page outlines our privacy policy regarding your usage of our library.</h1>
<p>This is a message for you have come this far... life is what u make of it ;)</p>
